Repository truth999/polkabtc-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --config .prettierrc --write

chore: fix build warnings
  src/common/components/balances.tsx
  src/common/components/topbar.tsx
  src/pages/app/app.page.tsx
  src/pages/dashboard/dashboard.page.tsx
  src/pages/dashboard/issue/issue.dashboard.page.tsx
  src/pages/feedback/feedback.page.tsx
Due: eslint --fix, prettier --config .prettierrc --write

fix: don't calculate griefing collateral twice
  src/pages/app/issue/enter-btc-amount.tsx
Due: eslint --fix, prettier --config .prettierrc --write

fix: reduce number of API calls in request call
  src/pages/app/issue/enter-btc-amount.tsx
Due: eslint --fix, prettier --config .prettierrc --write

feat: use timestamps instead of blocks in the issue and redeem tables
  src/pages/app/issue/issue-requests.tsx
  src/pages/app/redeem/redeem-requests.tsx
Due: eslint --fix, prettier --config .prettierrc --write

fix: same width on dashboards
  src/pages/staked-relayer/staked-relayer.page.scss
  src/pages/vault-dashboard/vault-dashboard.page.scss
Due: prettier --config .prettierrc --write

fix: homepage key for correct routing
  package.json
Due: none

fix: remove build warnings
  src/pages/app/issue/enter-btc-amount.tsx
Due: eslint --fix, prettier --config .prettierrc --write

feat: User failsafe modal
  docker-compose.yml
  package.json
  src/assets/locales/en/translation.json
  src/common/types/issue.types.ts
  src/common/utils/utils.ts
  src/pages/app/app.page.scss
  src/pages/app/issue/issue-requests.tsx
  src/pages/app/issue/modal/issue-modal.tsx
  src/pages/app/issue/modal/payment-view.tsx
  src/pages/app/issue/modal/status-view.tsx
  src/pages/app/issue/modal/whoops-view.tsx
  src/pages/app/redeem/redeem-requests.tsx
Due: eslint --fix, prettier --config .prettierrc --write

feat: Show submitted BTC amount and update issued amount
  package.json
  src/common/live-data/issue-transaction.watcher.ts
  src/common/types/issue.types.ts
  src/common/utils/utils.ts
  src/pages/app/issue/issue-requests.tsx
  src/pages/app/issue/modal/issue-modal.tsx
  src/pages/app/issue/modal/status-view.tsx
  src/pages/app/issue/modal/whoops-view.tsx
  src/pages/vault-dashboard/update-collateral/update-collateral.tsx
Due: eslint --fix, prettier --config .prettierrc --write

feat: init leaderboard for beta
  docker-compose.testnet.yml
  docker-compose.yml
  package.json
  src/App.tsx
  src/assets/locales/en/translation.json
  src/common/components/topbar.tsx
  src/pages/leaderboard/leaderboard.page.scss
  src/pages/leaderboard/leaderboard.page.tsx
  yarn.lock
Due: eslint --fix, prettier --config .prettierrc --write

fix: replace (all?) usd calculations with single helper function and harmonize decimal places
  src/common/utils/utils.ts
  src/pages/app/issue/enter-btc-amount.tsx
  src/pages/app/issue/modal/issue-modal.tsx
  src/pages/app/issue/modal/payment-view.tsx
  src/pages/app/issue/modal/whoops-view.tsx
  src/pages/app/redeem/enter-amount-and-address.tsx
  src/pages/app/redeem/modal/redeem-modal.tsx
  src/pages/app/redeem/modal/reimburse-view.tsx
  src/pages/app/redeem/redeem-info.tsx
  src/pages/app/transfer/transfer.tsx
  src/pages/dashboard/components/collateral-locked.tsx
  src/pages/dashboard/components/polkabtc.tsx
Due: eslint --fix, prettier --config .prettierrc --write

feat: reorganize ordering of topbar
  src/common/components/topbar.tsx
Due: eslint --fix, prettier --config .prettierrc --write

chore: remove double select account
  src/common/components/account-modal/account-modal.tsx
Due: eslint --fix, prettier --config .prettierrc --write

chore: handle USD amounts with 2 decmials
  src/pages/app/transfer/transfer.tsx
Due: eslint --fix, prettier --config .prettierrc --write

refactor: remove old actions and state; bring more consistency between issue and redeem; remove dead code
  src/common/actions/issue.actions.ts
  src/common/actions/redeem.actions.ts
  src/common/reducers/issue.reducer.ts
  src/common/reducers/redeem.reducer.ts
  src/common/types/actions.types.ts
  src/common/types/issue.types.ts
  src/common/types/redeem.types.ts
  src/common/types/util.types.ts
  src/pages/app/issue/enter-btc-amount.tsx
  src/pages/app/issue/issue-requests.tsx
  src/pages/app/issue/modal/issue-modal.tsx
  src/pages/app/redeem/enter-amount-and-address.tsx
  src/pages/app/redeem/modal/redeem-modal.tsx
  src/pages/app/redeem/redeem-info.tsx
  src/store.ts
Due: eslint --fix, prettier --config .prettierrc --write

chore: execute API calls in parallel
  src/App.tsx
Due: eslint --fix, prettier --config .prettierrc --write

fix: ensure that issue and redeem wizards work without DB
  src/common/live-data/issue-transaction.watcher.ts
  src/common/reducers/issue.reducer.ts
  src/common/utils/utils.ts
  src/pages/app/issue/enter-btc-amount.tsx
  src/pages/app/issue/issue-requests.tsx
  src/pages/app/issue/modal/issue-modal.tsx
  src/pages/app/redeem/enter-amount-and-address.tsx
Due: eslint --fix, prettier --config .prettierrc --write

chore: remove duplicate stats var
  .env.beta-test
Due: none

chore: bump minor version
  package.json
Due: none

fix(dashboards): extra satToBTC conversion
  src/pages/dashboard/issue/issue.dashboard.page.tsx
  src/pages/dashboard/redeem/redeem.dashboard.page.tsx
Due: eslint --fix, prettier --config .prettierrc --write

chore: add a placeholder into .lintstagedrc.js
  .eslintignore
  .eslintrc
  .lintstagedrc
  .lintstagedrc.js
  package.json
  tsconfig.json
  yarn.lock
Due: none

feat: add features from the latest CRA like web vitals
  src/index.tsx
  src/reportWebVitals.ts
  src/serviceWorker.ts
  src/setupTests.ts
Due: eslint --fix, prettier --config .prettierrc --write

fix: correct linting errors/warnings
  src/App.tsx
  src/common/actions/issue.actions.ts
  src/common/actions/redeem.actions.ts
  src/common/components/account-modal/account-modal.tsx
  src/common/components/topbar.tsx
  src/common/live-data/issue-transaction.watcher.ts
  src/common/reducers/issue.reducer.ts
  src/common/reducers/redeem.reducer.ts
  src/common/types/actions.types.ts
  src/common/types/issue.types.ts
  src/common/types/redeem.types.ts
  src/common/types/util.types.ts
  src/common/utils/utils.ts
  src/pages/app/issue/enter-btc-amount.tsx
  src/pages/app/issue/issue-requests.tsx
  src/pages/app/issue/modal/issue-modal.tsx
  src/pages/app/redeem/enter-amount-and-address.tsx
  src/pages/app/redeem/modal/redeem-modal.tsx
  src/pages/app/redeem/redeem-info.tsx
  src/pages/app/transfer/transfer.tsx
  src/store.ts
Due: eslint --fix, prettier --config .prettierrc --write

infra: update .lintstagedrc.js
  .lintstagedrc.js
Due: none

chore: clean up and add TODOs
  .eslintrc
  .eslintrc.js
  .lintstagedrc.js
  src/common/components/pending-button.tsx
Due: eslint --fix, prettier --config .prettierrc --write

chore: use 120 max-len in ESLinting
  .eslintrc.js
Due: none

fix: correct linting warnings
  .eslintrc.js
  src/common/components/dashboard-table/dashboard-table.tsx
  src/pages/dashboard/components/active-staked-relayers.tsx
Due: eslint --fix, prettier --config .prettierrc --write

fix: correct linting errors
  src/pages/dashboard/issue/issue.dashboard.page.tsx
  src/pages/dashboard/redeem/redeem.dashboard.page.tsx
Due: eslint --fix, prettier --config .prettierrc --write

chore: keep test silent
  package.json
Due: none

hotfix: yarn lint fixes
  src/pages/landing/landing.page.tsx
Due: eslint --fix, prettier --config .prettierrc --write

chore: remove pass with no tests
  .gitlab-ci.yml
  Jenkinsfile
Due: none

chore: remove gitlab CI file
  .gitlab-ci.yml
Due: none

chore: update editorconfig to match ts
  .editorconfig
Due: none

chore: docker-compose clients should restart
  docker-compose.testnet.yml
  docker-compose.yml
Due: none

feat: add testnet banner
  src/assets/locales/en/translation.json
  src/common/components/testnet-banner.tsx
  src/custom.scss
  src/pages/app/app.page.tsx
  src/pages/dashboard/dashboard.page.tsx
  src/pages/dashboard/issue/issue.dashboard.page.tsx
  src/pages/dashboard/oracles/oracles.dashboard.page.tsx
  src/pages/dashboard/parachain/parachain.dashboard.page.tsx
  src/pages/dashboard/redeem/redeem.dashboard.page.tsx
  src/pages/dashboard/relay/relay.dashboard.page.tsx
  src/pages/dashboard/vaults/vaults.dashboard.page.tsx
  src/pages/leaderboard/leaderboard.page.tsx
Due: eslint --fix, prettier --config .prettierrc --write

fix: sort highest -> lowest on leaderboard
  src/pages/leaderboard/leaderboard.page.tsx
Due: eslint --fix, prettier --config .prettierrc --write

chore: add note on .env to readme
  .gitignore
  README.md
Due: none

fix: minor typo on 'successful'
  src/assets/locales/en/translation.json
  src/pages/app/issue/modal/status-view.tsx
Due: eslint --fix, prettier --config .prettierrc --write

Path conditions:
  eslint --fix: any of: ./src/**/*.{ts,tsx}
  prettier --config .prettierrc --write: any of: ./src/**/*.{ts,tsx,scss}
